<mat-card class="card-insercao-usuario">
  <mat-card-header>
    <mat-card-title>Inserir Usuário</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill" class="mat-form-simples">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="usuario.nome" placeholder="digite o nome">
    </mat-form-field>

    <mat-form-field appearance="fill" class="mat-form-simples">
      <mat-label>CPF</mat-label>
      <input matInput [(ngModel)]="usuario.cpf" placeholder="digite o cpf">
    </mat-form-field>

    <mat-form-field appearance="fill" class="mat-form-simples">
      <mat-label>Idade</mat-label>
      <input  matInput [(ngModel)]="usuario.idade" placeholder="digite a idade">
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer align="center">
    <button mat-raised-button mat-icon-button color="primary" (click)="inserirUsuario()">
      <mat-icon *ngIf="operacaoCadastro">add</mat-icon>
      <mat-icon *ngIf="!operacaoCadastro">edit</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
